#one{
  width: 100px;
  height: 100px;
  background-image: url('./7D2546F40D60DAF0743E7E9A81081AB5.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#two{
  width: 100px;
  height: 100px;
  background-image: url('./logo.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}